<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>246841675181-jn5k3li7l0sn0eiitppiohhev4vceljv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246841675181-jn5k3li7l0sn0eiitppiohhev4vceljv</string>
	<key>API_KEY</key>
	<string>AIzaSyBxd1n7JSWVQrBLxQ5CEH0XaEXTjZB3XpQ</string>
	<key>GCM_SENDER_ID</key>
	<string>246841675181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sumryApp</string>
	<key>PROJECT_ID</key>
	<string>sumry-man</string>
	<key>STORAGE_BUCKET</key>
	<string>sumry-man.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246841675181:ios:89f34262fad07c24cfa524</string>
	<key>DATABASE_URL</key>
	<string>https://sumry-man-default-rtdb.firebaseio.com</string>
</dict>
</plist>